// Define variables for your color scheme

// For example:
$red: #9e2a2b;
$blue: #415A77;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #045831;;
$gray: #0E0000;
$light-gray: #F4F4F4;
$platinium: #E0E1DD;
$oxblue: #1B263B;
