<div class="container py-2">
  <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
    <% @categories.each do |category| %>
    <div class="col">
      <%= link_to category_path(category), class:"text-decoration-none" do %>
      <div class="card">
        <%= category.image.present? ? image_tag(category.image.variant(:large)) : image_tag("https://via.placeholder.com/300") %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= category.name %></h5>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
</div>

<div>
  <h3 class=text-center>Customers testimonials</h3>
  <div class="card-group">
  <% 3.times do %>
    <div class="card" >
      <div class="card-body">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus delectus, Neque animi commodi optio,
        eveniet perspiciatis qui necessitatibus!</p>
        <p class="text-muted"> -Olivia</p>
      </div>
    </div>
  <% end %>
  </div>
</div>
