<h1>Order recap</h1>

<div class="container" data-controller="recap" data-recap-target="cart">

<div id="total"></div>

<button data-action="click->recap#checkout" class="btn btn-primary">Pay</button>
</div>
